/************************************COMMON NAVBAR*************************************/

/* navbar */

.navbar-brand{
    font-family: cursive;
}

.nav-item{
    padding-left: 30px;
}

/* navbar brand */
.navbar-brand{
    color:#40A8DD !important;
}

/* navbar link */
.nav-link{
    color: white  !important ;
}

/********************************* All Traveller Pages **********************************/
.filt{ /* Filter label */
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*.cardImage{
    width: 450px;
    height: 320px;
}*/

/************************************* Home Page(Index) ***********************************/
.reg{ /* Registeration and login buttons */
    color: rgb(64, 168, 221);
}

.Login{ /* Navbar Login Popup */
    color: #fff;
}

/**/
.posticons{
    margin-left: 20px;
}

.ask{
    color: #fff;
    background-color: #40A8DD;
}

/*************************************COMMON FOOTER****************************/



/*start footer*/
.footer{
    margin-top: 50px;
    color: white;
}

/*fontawesome at the footer*/
.fontawesome1,.fontawesome2,.fontawesome3{
    font-size: 40px;
    color:#40A8DD;
    padding: 7px;
}
/*hover over fontawesome*/
a:hover{
    color:#b8b8b8;
}

/*column 1 at the footer*/
.column1{
    margin-top: 50px;
}
/*header in column 1 at the footer*/
.column1 h2{
    font-family: cursive;
    color:#40A8DD;
    font-style: italic;
    font-size: 40px;
}

/*column 2 at the footer*/
.column2{
    margin-top: 60px;
}

/*move pharagraph in column 2 at the footer*/
.column2 p{
    margin-top: 40px;
}


.footerimg{
    height: 120px;
    width: 100px;
}
 /*end footer*/